<nav class="navbar navbar-expand-lg navbar-light bg-light vh-100">
  <div class="container-fluid flex-column align-items-start h-100 px-0">
    <a class="navbar-brand ms-4 my-4" href="#">
      <img
        src="https://raw.githubusercontent.com/hexschool/2022-web-layout-training/e33e944d6b136d33939dadf6358d65c76ec06e49/week5/logo-ANSWER.svg"
        alt="logo">
    </a>
    <ul class="navbar-nav flex-column">
      <li class="nav-item mb-3">
        <a class="nav-link ps-4 fw-bold" aria-current="page" href="#">
          <span class="material-symbols-outlined align-bottom me-3">
            analytics
          </span>
          Dashboard</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link ps-4 fw-bold" href="#">
          <span class="material-symbols-outlined align-bottom me-3">
            forum
          </span>
          Question</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link ps-4 fw-bold active text-success" href="#">
          <span class="material-symbols-outlined align-bottom me-3">
            assignment
          </span>
          Assignment</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link ps-4 fw-bold" href="#">
          <span class="material-symbols-outlined align-bottom me-3">
            video_library
          </span>
          Course</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link ps-4 fw-bold" href="#">
          <span class="material-symbols-outlined align-bottom me-3">
            supervisor_account
          </span>
          Admin</a>
      </li>
      <li class="nav-item mb-3">
        <a class="nav-link ps-4 fw-bold" href="#">
          <span class="material-symbols-outlined align-bottom me-3">
            settings
          </span>
          Settings</a>
      </li>
    </ul>
    <div class="d-flex align-items-center mt-auto ps-4">
      <div class="flex-shrink-0">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week5/andychen.jpeg?raw=true"
          alt="photo" width="40px" height="40px" class="rounded-circle object-fit-cover">
      </div>
      <div class="flex-grow-1 ms-3">
        <p class="my-0 fw-bold">Andy Chen</p>
        <a href="mailto:andy0401@mail.com" class="text-muted">andy0401@mail.com</a>
      </div>
    </div>
  </div>
</nav>